* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url();
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom left, #00b894, #0984e3);
}
.wrap .inputContainer {
  width: 300px;
  height: 350px;
  box-shadow: 0 0 5px #e1e1e1;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 50px 50px;
  transition: 1s;
  margin-bottom: 50px;
}
.wrap .inputContainer img {
  height: 100px;
}
.wrap .inputContainer #city {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  background: none;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 3px;
  color: #fff;
}
.wrap .inputContainer #city::-moz-placeholder {
  color: #fff;
}
.wrap .inputContainer #city::placeholder {
  color: #fff;
}
.wrap .inputContainer #search {
  padding: 10px 32px;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  border: none;
  border: 0.1px solid #e1e1e1;
  color: #fff;
  box-shadow: 0 1px 10px #fff;
}
.wrap .inputContainer #search:active {
  position: relative;
  top: 2px;
}
.wrap .infoContainer {
  display: flex;
  width: 500px;
  min-height: 400px;
  background-color: green;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: 1s;
  padding: 40px 15px;
}
.wrap .infoContainer .AdviceContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrap .infoContainer .AdviceContainer .adviceBlock {
  margin: 0 0 0 5px;
  font-size: 18px;
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wrap .infoContainer .AdviceContainer .nameItem {
  width: 35%;
  margin-bottom: 5px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.wrap .infoContainer .infoItem {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrap .infoContainer .infoItem .verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .infoContainer .infoItem .verticalContainer .nameItem {
  margin-bottom: 5px;
  font-size: 15px;
}
.wrap .infoContainer .infoItem .verticalContainer .valItem {
  font-size: 24px;
}
.wrap .infoContainer .infoItem .countryCobtainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wrap .infoContainer .infoItem .countryCobtainer div {
  margin: 5px;
}
.wrap .infoContainer .infoItem #flagCountry {
  width: 65px;
  height: 60px;
  background-position: center;
  background-size: cover;
}
.wrap .infoContainer .infoItem .valItem {
  font-size: 24px;
}
.wrap .infoContainer .infoItem #windDirection {
  width: 50px;
  height: 50px;
  background-color: #a5a5a5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .infoContainer hr {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  border: 1px solid #fff;
  opacity: 0.3;
}

@media screen and (max-width: 850px) {
  .wrap .infoContainer {
    width: 300px;
  }
}
@media screen and (max-width: 650px) {
  .wrap {
    padding: 50px;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */